{% extends 'base.html' %}

{% block title %}Doctors Page{% endblock title %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Our Doctors</h1>
  <hr>

  <div class="row">
    {% for doctor in doctors %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ doctor.doc_image.url }}" class="card-img-top" alt="{{ doctor.doc_name }}">
          <div class="card-body">
            <h2 class="card-title">{{ doctor.doc_name }}</h2>
            <p class="card-text">{{ doctor.doc_spec }}</p>
            <h6 class="text-muted">{{ doctor.dep_name }} Department</h6>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
